<a href="https://colab.research.google.com/github/Saifullah785/python-code-practice/blob/main/Lecture_01/lecture_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# what is Python?

Python is a high-level, interpreted programming language known for its simplicity and readability.

It was created by Guido van Rossum and first released in 1991. Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming.

It is widely used for web development, data analysis, artificial intelligence, scientific computing, and more.

1. python is simple & easy to learn.
2. free & open source.
3. high level programming language.
4. developed by Guido van Rossum in 1991.
5. python is interpreted language, portable and object oriented programming language.

In [ ]:
# This cell prints "Hello World!" to the console.
# our first program in python
print("Hello World!")

Hello World!

# python characters set
1. letters (a-z, A-Z)
2. digits (0-9)
3. special characters ( ! @ # $ % ^ & * ( ) - _ + = { } [ ] | \ : ; " ' < > , . ? / ` ~ )
4. whitespace blank space, tab, carriage return, newline, formfeed
5. other characters - python can process all ASCII characters and unicode characters as part of data or literals

In [ ]:
# This cell prints personal information.
print ('saif is my name')
print('my age is 25')
print('my height is 5.9 feet')

saif is my name
my age is 25
my height is 5.9 feet

# variables in python
1. variable is a name given to a memory location.
2. variable is used to store data.

In [ ]:
# This cell demonstrates variable assignment and printing variable values.
name = "saif"
age = 25
height = 6.5
print("my name is :", name)
print ("my age is :", age)
print ("my height is :", height)

my name is : saif
my age is : 25
my height is : 6.5

# Rules for Identifiers
1. variable name should start with letter or underscore.
2. variable name should not start with digit.
3. variable name should not contain special characters except underscore.
4. variable name should not be a keyword.
5. variable name should not contain spaces.

In [ ]:
# This cell shows how to check the data type of variables.
name = "saif"
age = 25
height = 6.5
print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

Data Types
1.integers
2.float
3.string    
4.boolean
5.None

In [ ]:
# This cell demonstrates different ways to define string variables.
name1 = "su"
name2 = "su"
name3 = '''su'''
print(name1)
print(name2)
print(name3)

su
su
su

In [ ]:
# This cell illustrates different data types: int, bool, and NoneType.
age = 25
old = False
a = None
print(type(age))
print(type(old))
print(type(a))

<class 'int'>
<class 'bool'>
<class 'NoneType'>

# keywords
1.keywords are reserved words in python programming language.
2.keywords are used to perform specific operations.
3.keywords are predefined words in python programming language.
4.keywords are case sensitive.
for emample: and, as, assert, break, class, continue, def, del, elif, else, except, False, finally, for, from, global, if, import, in, is, lambda, None, nonlocal, not, or, pass, raise, return, True, try, while with yield.

In [ ]:
# This cell performs a subtraction operation between two numbers.
a = 10
b = 20
# sum = a + b
diff = a - b
print("diff of a and b is :", diff)

diff of a and b is : -10

# Types of Tokens
# Punctuators
1.punctuators are symbols to organize sentence structure in programming language.
for example: +, -, *, /, %, =, ==, !=, <, >, <=, >=, (, ), {, }, [, ], ;, :, ., ,, @, #, $, &, |, ^, ~, `.

typed language
2.python is implicitly typed language.
c++, java, c# are explicitly typed language.
in python, we don't need to declare the data type of variable explicitly.

# Expressions Execution
1.string & numeric values can operate together with *
2.string & string can operate together with + we call concatenation.
3.Numeric values can operate with all arithmetic operators.
4.Arithmetic operators with integer and float will result in float.
5.Result of division operator with two integers will result in float.
6.Integer division with float and int will give int displayed as float.
7.floor gives closet integer, which is lesser than or equal to the float value.
Result of (A // B) is same as floor(A / B).
8.Remainder is negative when denominator is negative.

# comments in python
1. comments are used to explain the code.
2. comments are ignored by the interpreter.
3. comments are used to make the code more readable.
4. comments are used to make the code more understandable.

single line comment

""" This is a multi line comment."""

In [ ]:
# print ("hello") won't be printed

print ("hello") #will be printed

hello

Input in python
input() function is used to accept values (using keyboard) from user.

In [8]:
# This cell takes user input for name, age, and price, then prints them.
name = input("name: ")
age = int(input("enter the age: "))
price= float(input("enter the price: "))

print("hello ",name)
print("your age is ",age)
print("your price is ",price)

name: saif
enter the age: 33
enter the price: 444
hello  saif
your age is  33
your price is  444.0

# Practice Time
State True of False
1. /* is a symbol used in python for single line comment
Flase
2. 2ndName is an invalid identifier in python
True
3.** is a valid arithmetic operator in python
True
4. in is a logical operator in python
False
5. Variable declaration is implicit in python
True
6. consider the given expression :   not True and False or True
which of the following will be correct output if the given expression is evaluated ?
Answer: True

# Conditional Statements

if elif else (syntax)
if condition1:
    # block of code to be executed if condition1 is true
elif condition2:
    # block of code to be executed if condition2 is true
else:
    # block of code to be executed if both condition1 and condition2 are false

In [ ]:
# Example
age = 76
if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 60:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are a senior citizen.

In [ ]:
# conditional statements
# Traffic Light Code
# Example
light = "blue"
if light == "red":
    print('stop')
elif (light == "yellow"):
    print ('get ready')
elif (light == "green"):
    print ('go')
else:
    print ('light is broken')

light is broken

In [ ]:
# Practice Time
# print output for :
# A = 10 & G = M

# A = 2 & G = F

# A = int (input("A : "))
# G = input ("M/F : ")
# if ((A == 1 or A ==2) and G == "M"):
#     print ("fee is 100")
# elif ((A == 3 or A ==4) and G == "F"):
#     print ("fee is 200")
# elif (A == 5 and G == "M"):
#     print ("fee is 300")

# else:
#     print('no fee')

# nesting

In [ ]:
# This cell demonstrates nested if-else statements.
age = 25
if age >= 18:
    if (age >= 80):
        print('cannot drive')
    print("You can drive.")
else:
    print(' drive')

single line if statement/ ternary operator

In [6]:
# This cell shows a single-line if statement (ternary operator) for user input.
food = input('food: ')
eat = 'Yes' if food == "cake" else 'No'
print(eat)

food: orange
No

clever if / Ternary operator

In [7]:
# This cell demonstrates another form of clever if/ternary operator for age-based voting.
age = int (input("Enter your age: "))
vote = ("No", "yes") [age >= 18]
print(vote)

Enter your age: 25
yes

# Best Practices
1. simple instruction.
2. One instruction per task.
3. short & Use meaningful variable names.
4. use appropriate comments.
5. Avoid complex expressions.

# Types of Operators
An operator is a symbol that performs a certain operation between operands.
1. Arithmetic Operators(+ - * / % ** //)
2. Assignment Operators(= += -= *= /= %= **= //=)
3. comparison Operators/Relational Operators (== != > < >= <=)
4. Logical Operators (and, or, not)

In [ ]:
# arithmetic operators
a = 10
b = 20
print ("a + b = ", a + b)
print ("a - b = ", a - b)
print ("a * b = ", a * b)
print ("a / b = ", a / b)
print ("a % b = ", a % b)
print ("a ** b = ", a ** b)

a + b =  30
a - b =  -10
a * b =  200
a / b =  0.5
a % b =  10
a ** b =  100000000000000000000

In [ ]:
# relational operators
a = 50
b = 20

print ("a == b = ", a == b)
print ("a != b = ", a != b)
print ("a > b = ", a > b)
print ("a < b = ", a < b)
print ("a >= b = ", a >= b)
print ("a <= b = ", a <= b)

a == b =  False
a != b =  True
a > b =  True
a < b =  False
a >= b =  True
a <= b =  False

In [ ]:
# assignment operators
a = 10

num = a +10
print(num)
num += 10
print(num)
num -= 10
print(num)
num *= 10
print(num)

20
30
20
200

In [ ]:
# Logical operators
a = 50
b = 30
print(not False)
print(not True)
print(a > b and a < b)
print(a > b or a < b)

True
False
False
True

# Type Conversion
1. Type conversion is the process of converting one data type to another.
2. Type conversion is also known as type casting.

In [ ]:
# This cell demonstrates type conversion from string to integer and float addition.
a = int("2")
b = 4.25
sum = a + b
print(type(a))
print(sum)

<class 'int'>
6.25

Input in Python
input() function is used to accept values (using keyboard) from user.
input() function returns a string value.
input() #result for input() is always string.
int(input()) #int
float(input()) #float

In [ ]:
# This cell takes user input for name, age, and price without printing.
name = input("name: ")
age = int(input("enter the age: "))
price= float(input("enter the price: "))

In [1]:
# This cell takes user input for name, age, and marks, then prints them.
name = input('Enter your name: ')
age = int(input('Enter your age:'))
marks = float(input('Enter your marks:'))

print('welcome:', name)
print('Age:', age)
print('Marks:', marks)

Enter your name: saif
Enter your age:25
Enter your marks:87
welcome: saif
Age: 25
Marks: 87.0

lets practice

1.write a Program to input 2 numbers & print their sum.

In [2]:
# This cell takes two numbers as input and prints their sum.
first = int(input("Enter first number: "))
second = int(input("Enter second number: "))
sum = first + second
print("Sum of two numbers is: ", sum)

Enter first number: 5
Enter second number: 7
Sum of two numbers is:  12

2.WAP to input side of a square & print its area.

In [3]:
# This cell calculates and prints the area of a square based on user input for its side.
side = float(input("Enter the side of square: "))
print("Area of square is: ", side * side)

Enter the side of square: 5
Area of square is:  25.0

3.WAP to input 2 floating point numbers & print their average

In [4]:
# This cell takes two floating-point numbers as input and prints their average.
a = float(input('enter first number: '))
b = float(input('enter second number: '))
print("avg =", (a + b) / 2)

enter first number: 5
enter second number: 5
avg = 5.0

WAP to input 2 int numbers, a and b
print True if a is greater than or  equal to b, if not print false.

In [5]:
# This cell compares two integer inputs and prints True if the first is greater than or equal to the second.
a = int(input('enter the first number: '))
b = int(input('enter the second number:'))

print(a >=b)

enter the first number: 7
enter the second number:8
False