# Chapter 3


Lists and Tuples

========================

# Lists


A build in data type that stores set of values
It can store elements of different types (integers, float, strings,etc)
Lists are mutable sequences, typically used to store collections of homogeneous items.
Lists are defined by enclosing elements in square brackets `[]`, separated by commas.

marks = [90, 80, 70, 60, 50]

students = ['John', 'Jane', 'Jim', 'Jack']

students[0] # returns 'John'
students[1] # returns 'Jane'
len(students) # returns 4, the number of elements in the list

In [4]:
list
marks = [94.4, 87.5, 95.2, 66.4, 45.1]
print(marks)
print(type(marks))
print(marks[0])

[94.4, 87.5, 95.2, 66.4, 45.1]
<class 'list'>
94.4

In [5]:
student = ['karan', 95.4, 17, "Delhi"]
print(student)

['karan', 95.4, 17, 'Delhi']

# List slicing


list_name[start:end:step]

marks[0:3] # returns [90, 80, 70]

List slicing is a way to access a subset of elements from a list using the colon `:` operator.

# List methods

In [ ]:



list = [1, 2, 3, 4, 5]
list.append(45.5)  # Adds an element to the end of the list [1, 2, 3, 4, 5, 45.5]
list.insert(2, 45.5)  # Inserts an element at the specified index
list.remove(1)  # Removes the first occurrence of the specified element [2, 3, 4, 5, 45.5]
list.pop( idx )  # Removes and returns the last element of the list
list.sort(reverse=True)  # Sorts the list in ascending order (or descending if reverse=True)
list.reverse()  # Reverses the order of the elements in the list

# Tuples in Python


A built-in data type that lets us create immutable sequences of values.

tup = (1, 2, 3, 4, 5) # a tuple of integers # tupp[0] returns 1

tup[0] = 43 # Not allowed, tuples are immutable

tup1 = ()
tup2 = (1,)
tup3 = (1, 2, 3)

In [9]:
tup = (1, 2, 3, 4, 5)
print(tup)
print(type(tup))
# tup[0] =10 # Not allowed, tuples are immutable

(1, 2, 3, 4, 5)
<class 'tuple'>

# Tuple Methods


tup = (1, 2, 3, 4, 5, 1, 2, 3)

tup.index(el) # returns index of first occurrence  tup.index(2)is 1

tup.count(el) # counts total occurrences tup.count(1) is 2

In [10]:
tup = (1, 2, 3, 4, 5)
print(tup.count(1))  # Counts the number of occurrences of 1 in the tuple

1

# let's Practice

1.WAP to ask the user to enter names of their 3 favorite movies & store them in a list.

In [11]:
# movies = []
# movie1 = input("Enter your first favorite movie: ")
# movie2 = input("Enter your second favorite movie: ")
# movie3 = input("Enter your third favorite movie: ")
# movies.append(movie1)
# movies.append(movie2)
# movies.append(movie3)
# print("Your favorite movies are: ", movies)

2. WAP to check if a list contains a palindrome of elements.(HInt: use copy() method)

In [13]:
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 4, 5]

copy_list1 = list1.copy()
copy_list1.reverse()

if (list1 == list2):
    print("Both lists are palindrome")
else:
    print("Both lists are not palindrome")

Both lists are not palindrome

 3. WAP to count the number of students with 'A' grade in the following tuple.

In [15]:
grade= ('A', 'B', 'C', 'D', 'E')
print(grade.index('C'))  # Returns the index of the first occurrence of 'C' in the list

2

In [19]:
grade= ['B', 'A', 'C', 'D', 'E']

grade.sort()
print(grade)  # Sorts the list in ascending order (case-sensitive)

['A', 'B', 'C', 'D', 'E']